<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.zongb.sm.dao.ProductMapper">

	
    <!-- 获取此类商品的最大编号modeid-->  
    <select id="getMaxModeByType"  resultType="String" >
        <![CDATA[
            select max(model) model from oc_product where model like ${modelPre}
        ]]>
    </select>
    
    <!-- 插入 产品表-->  
    <insert id="saveProduct" parameterType="com.zongb.sm.entity.Product" useGeneratedKeys="true" keyProperty="productId">  
    <![CDATA[
       INSERT INTO oc_product (model, sku, upc, ean, jan, isbn, mpn, location, quantity, stock_status_id, image, manufacturer_id, shipping, price, points, tax_class_id, date_available, weight, weight_class_id, length, width, height, length_class_id, subtract, minimum, sort_order, status, date_added, date_modified, viewed)
		VALUES (
			#{ model}
			,#{ sku}
			,#{ upc}
			,#{ ean}
			,#{ jan}
			,#{ isbn}
			,#{ mpn}
			,#{ location}
			,#{ quantity}
			,#{ stockStatusId}
			,#{ image}
			,#{ manufacturerId}
			,#{ shipping}
			,#{ price}
			,#{ points}
			,#{ taxClassId}
			,#{ dateAvailable}
			,#{ weight}
			,#{ weightClassId}
			,#{ length}
			,#{ width}
			,#{ height}
			,#{ lengthClassId}
			,#{ subtract}
			,#{ minimum}
			,#{ sortOrder}
			,#{ status}
			,#{ dateAdded}
			,#{ dateModified}
			,#{ viewed}
		)
        ]]>

    </insert>  
    
    
    
    <!-- 插入 产品描述表 -->  
    <insert id="saveProductDesc" parameterType="com.zongb.sm.entity.ProductDesc" >  
    	<![CDATA[
    	INSERT INTO oc_product_description (product_id, language_id, name, description, meta_description, meta_keyword, tag)
		VALUES (
			#{productId}
			,#{ languageId}
			,#{ name}
			,#{ description}
			,#{ metaDescription}
			,#{ metaKeyword}
			,#{ tag}
		)
        ]]>
    </insert> 
    
    <!-- 插入 产品图片表 -->  
    <insert id="saveProductImage" parameterType="com.zongb.sm.entity.ProductImage" >  
    	<![CDATA[
    	INSERT INTO oc_product_image (product_id, image, sort_order)
		VALUES (
			#{productId}
			,#{ image}
			,#{ sortOrder}
		)
        ]]>
    </insert> 
    
    <!-- 插入 产品目录表 -->  
    <insert id="saveProductCategory" parameterType="com.zongb.sm.entity.ProductCategory" >  
    	<![CDATA[
    	INSERT INTO oc_product_to_category (product_id, category_id)
		VALUES (
			#{productId}
			,#{ categoryId}
		)
        ]]>
    </insert> 
    
    <!-- 插入 产品商店表 -->  
    <insert id="saveProductStore" parameterType="com.zongb.sm.entity.Product" >  
    	<![CDATA[
    	INSERT INTO oc_product_to_store (product_id, store_id)
		VALUES (
			#{productId}
			,#{ storeId}
		)
        ]]>
    </insert> 
    
    
    <!-- 获取此类商品的语言id -->  
    <select id="getLanguageIdByCode"  resultType="String" >
        <![CDATA[
            select language_id from oc_language where code = #{code}
        ]]>
    </select>
    
    <!-- 获取所有的品牌信息 -->  
    <select id="getAllManufacturer"  resultType="hashmap" >
        <![CDATA[
            select manufacturer_id mid,name mname from oc_manufacturer
        ]]>
    </select>
    
    
    <!-- 获取所有的产品目录信息 -->  
    <select id="getAllCategory"  resultType="hashmap" >
        <![CDATA[
            
			SELECT 
				a.category_id cid
				,b.name cname
			FROM oc_category a
			LEFT JOIN oc_category_description b ON a.category_id = b.category_id
			LEFT JOIN oc_language c ON b.language_id = c.language_id
			WHERE c.code = 'cn'
			AND a.parent_id = '0'
			
			UNION 
			
			SELECT 
				a.category_id cid
				,concat(b1.name, ' => ' , b.name ) cname
			FROM oc_category a
			LEFT JOIN oc_category_description b ON a.category_id = b.category_id
			LEFT JOIN oc_language d ON b.language_id = d.language_id 
			
			LEFT JOIN oc_category a1 ON a.parent_id = a1.category_id
			LEFT JOIN oc_category_description b1 ON a1.category_id = b1.category_id
			LEFT JOIN oc_language c ON b1.language_id = c.language_id
			
			WHERE  c.code = d.code
			AND c.code = 'cn'
			AND a.parent_id <> 0 
			AND a1.parent_id = 0
			
			UNION 
			
			
			SELECT 
				a.category_id cid
				,concat(b2.name, ' => ' ,b1.name, ' => ' , b.name ) cname
			FROM oc_category a
			LEFT JOIN oc_category_description b ON a.category_id = b.category_id
			LEFT JOIN oc_language c ON b.language_id = c.language_id 
			
			LEFT JOIN oc_category a1 ON a.parent_id = a1.category_id
			LEFT JOIN oc_category_description b1 ON a1.category_id = b1.category_id
			LEFT JOIN oc_language c1 ON b1.language_id = c1.language_id
			
			LEFT JOIN oc_category a2 ON a1.parent_id = a2.category_id
			LEFT JOIN oc_category_description b2 ON a2.category_id = b2.category_id
			LEFT JOIN oc_language c2 ON b2.language_id = c2.language_id
			
			WHERE  c.code = c1.code
			AND c.code = c2.code
			AND c.code = 'cn'
			AND a.parent_id <> 0 
			AND a1.parent_id <> 0
			
			ORDER BY cname
        ]]>
    </select>
    
</mapper>